<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="headIncludes()">
</%def>
<%def name="body()">
<h1>LazyLibrarian User Profile</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 ptop21">
      <div class="login-container">
        <div class="row">
          <div class="col-xs-12">
              <div class="form-group">
                <label for="fullname">Full Name</label>
                <input id="fullname" name="fullname" class="form-control" value="${user['Name']}">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" class="form-control" value="${user['Email']}">
              </div>
              <div class="form-group">
                <label for="sendto">Send To (eg kindle)</label>
                <input id="sendto" name="sendto" class="form-control" value="${user['SendTo']}">
              </div>
              <div class="form-group">
                <label for="lltheme">Theme</label>
                <select name="lltheme" id="lltheme" class="form-control">
                  %for btype in themelist:
                      <%
                        if btype == user['Theme']:
                          selected = 'selected="selected"'
                        else:
                          selected = ''
                      %>
                      <option value="${btype}" ${selected}>${btype}</option>
                    %endfor
                </select>
              </div>
              <div class="form-group">
                <label for="username">Username (UserID=${user['UserID']})</label>
                <input id="username" class="form-control" name="username" value="${user['UserName']}">
              </div>
              <div class="form-group">
                <label for="booktype">Preferred BookType to open/email</label>
                        <select name="booktype" id="booktype" class="form-control">
                          %for btype in typelist:
                          <%
                            if btype == user['BookType']:
                                selected = 'selected="selected"'
                            else:
                                selected = ''
                          %>
                          <option value="${btype}" ${selected}>${btype}</option>
                          %endfor
                        </select>
              </div>
              <div class="form-group">
                <label class="ptop15" for="password">Password</label>
                <div class="">
                  <input id="password" type="password" class="form-control" name="password" placeholder="Leave empty to keep existing password">
                </div>
              <div class="form-group">
                <label class="ptop15" for="password">Confirm Password</label>
                <div class="">
                  <input id="password2" type="password" class="form-control" name="password2" placeholder="If changing password, enter new password  again here">
                </div>
              <div class="form-group col-md-12">
                <label for="subs">Subscriptions (for information only)</label>
                <textarea id="summernote" name="summernote" class="form-control" rows="10" placeholder="Nothing to see here..." readonly>${subs}</textarea>
              </div>
              </div>
              <div class="ptop21">
                <button value="save" name="save" id="save" class="btn btn-primary btn-block btn-lg btn-inverse">Update</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</%def>

<%def name="headIncludes()">
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
      $('#save').click(function() {
          var username = $.trim($("#username").val());
          var password = $.trim($("#password").val());
          var password2 = $.trim($("#password2").val());
          var email = $.trim($("#email").val());
          var sendto = $.trim($("#sendto").val());
          var booktype = $.trim($("#booktype").val());
          var lltheme = $.trim($("#lltheme").val());
          var fullname = $.trim($("#fullname").val());
          $.get("user_update", {'username': username, 'fullname': fullname, 'password': password, 'password2': password2, 'email': email, 'sendto': sendto, 'booktype': booktype, 'theme': lltheme},
                function (data) {
                bootbox.dialog({
                    title: 'Update User',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary',
                            callback: function(result){ window.location.reload(true) }
                        }
                    }
                });
          });
      });
    });
  </script>
</%def>
